html * {
	font-family: Poppins;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.parent_1 {
	width: 400px;
	height: 200px;
	background-color: lavender;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 4px;
	text-align: center;
}

.box {
	width: 200px;
	height: 50px;
	border: 2px solid black;
	border-radius: 4px;
	margin: 2px auto;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

#child1 {
	background-color: lightcoral;
}

#child2 {
	background-color: lightgreen;
}